* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body,
html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    font-size: 11px;
    min-height: 30px;
    align-items: center;
    padding: 0 9.58333333333%;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.box {
    border-left: #444444 1px solid;
    padding: 0 9px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-pic {
    margin-right: 10px;
}

.arrow-white-pic {
    margin: 0 0px 0 10px;
}

.box:hover {
    background: #444444;
}

.search {
    padding: 0 7px;
}

.my-acc,
.search {
    padding-left: 0;
    padding-right: 0;
}

.box img {
    width: 15%;
}

.header-container p {
    white-space: nowrap;
}

#srch {
    width: 50%;
}

.border-right {
    border-right: #444444 1px solid;
}

.menu-container {
    list-style: none;
}

.menu {
    padding: 0 9.58333333333%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 21px 0 19px 0;
}

.logo {
    width: 120px;
    height: 28px;
    margin-right: 60px;
}

.menu-container {
    display: flex;
}

.menu-container ul {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.menu-box {
    margin-left: 32px;
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    font-weight: 400;
}

.menu-box:hover {
    cursor: pointer;
}

.menu-box:first-child {
    margin-left: 0px;
}

.menu-box:after {
    content: url(img/arrow-black.png);
    width: 7px;
    height: 4px;
}

#burger {
    display: none;
}

.cart {
    border: #d6d6d6 1px solid;
    display: flex;
    flex-direction: column;
}

.cart-1 {
    border-bottom: #d6d6d6 1px solid;
}

.cart-2 {
    background: #fafafa;
}

.cart-2,
.cart-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 214px;
    padding: 0px 11px 0 9px;
    color: #b3b3b3;
}

.slider {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.buttons {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 117px;
}

.button:hover {
    cursor: pointer;
}

.shop-now {
    transition: transform 0.3s;
    /* padding: 20px 25px 20px 24px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #dd6b44;
    background: #fd926d;
    color: white;
    position: absolute;
    right: 64.5%;
    top: 68%;
    box-sizing: border-box;
    height: 12.9545454545%;
    width: 13%;
    font-size: 18px;
}

.slider-girl {
    width: 100%;
}

.shop-now:hover {
    background: #dd6b44;
    cursor: pointer;
    user-select: none;
}

.shop-now:active {
    transform: scale(1.1);
}

.shop-now img {
    margin-left: 10%;
}

.slider-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.ellipse {
    margin-left: 20px;
    background: url(img/ellipse.png) no-repeat;
    width: 10px;
    height: 10px;
}

.ellipse:first-child,
.ellipse-active:first-child {
    margin-left: 0;
}

.ellipse-active {
    margin-left: 20px;
    background: url(img/ellipse-active.png) no-repeat;
    width: 10px;
    height: 10px;
}

.contacts-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9.58333333333%;
    background: #ededed;
    box-sizing: border-box;
    font-family: Arial;
}

.mail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-container form {
    display: flex;
}

.mail-info {
    margin-right: 10px;
    color: #6b6b6b;
    font-size: 12px;
}

input[type="text"] {
    margin: 0;
    width: 132px;
    height: 28px;
    border: none;
    color: #9f9f9f;
    font-size: 12px;
    font-style: italic;
    letter-spacing: -0.06px;
    outline: none;
}

input[type="text"]:focus {
    font-size: 15px;
    font-style: normal;
    color: #000;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

input[type="submit"] {
    transition: transform 0.3s;
    width: 28px;
    height: 28px;
    background-color: #fd926d;
    border: none;
    background: url(img/submit-button.png) no-repeat;
}

input[type="submit"]:focus {
    outline: none;
    transform: scale(1.1);
}

input[type="submit"]:hover {
    cursor: pointer;
}

.social-container {
    display: flex;
    align-items: center;
}

.social-info {
    margin-right: 15px;
    color: #6c6c6c;
    font-size: 12px;
}

.social-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 165px;
}

.social-img a {
    flex: 0 1 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-img a:hover {
    cursor: pointer;
    opacity: 0.8;
}

.social-img a:nth-child(odd) {
    background: #f7f7f7;
}

.collections {
    display: flex;
    padding: 0 9.58333333333%;
    max-height: 340px;
    justify-content: center;
    margin: 40px 0 49px;
}

.collections-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.green {
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4fafa0;
    border: none;
    color: white;
    position: absolute;
    top: 71%;
    right: 46%;
    box-sizing: border-box;
    height: 17.1597633136%;
    width: 40.8333333333%;
    font-size: 12px;
    white-space: nowrap;
}

.green:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: #4fafa0;
}

.collections-box {
    position: relative;
    transition: transform 0.3s;
}

.container-bottom {
    flex-direction: row;
    display: flex;
    margin-left: 2px;
}

.collections-box:last-child {
    margin-left: 2px;
}

.collections-box:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1000;
    position: relative;
}

.container-top {
    margin-bottom: -2px;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 9.58333333333%;
}

.gallery-menu-boxes {
    display: flex;
}

.gallery-menu-arrows {
    display: flex;
    align-items: flex-end;
}

.gallery-menu-box {
    padding: 19px 18px 17px 21px;
    font-size: 15px;
}

.gallery-menu-box:hover {
    background: #fd926d;
    cursor: pointer;
    color: #fff;
}

.gallery-menu-box:active {
    background: #fd926d;
    user-select: none;
}

.gallery-menu-arrow {
    width: 47px;
    height: 47px;
}

.left {
    background: url(img/gallery-arrow-grey-left.png);
    height: 100%;
}

.left:hover {
    background: url(img/gallery-arrow-white-left.png);
    cursor: pointer;
}

.right {
    background: url(img/gallery-arrow-grey-right.png);
    height: 100%;
}

.right:hover {
    background: url(img/gallery-arrow-white-right.png);
    cursor: pointer;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 9.58333333333%;
}

.gallery-img {
    position: relative;
    cursor: pointer;
}

.add-to-cart {
    margin-bottom: 11px;
    cursor: pointer;
}

.shop-it-button {
    width: 60%;
    position: absolute;
    top: 34%;
    right: 20%;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.shop-it-button:active {
    transform: scale(1.1);
}

.gallery-img:hover .shop-it-button {
    opacity: 1;
}

.gallery-box:hover {
    transform: scale(1.1);
}

.gallery-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.dress-name {
    font-size: 12px;
    color: #373737;
    margin-bottom: 5px;
    font-family: Arial;
    text-align: center;
}

.dress-price {
    font-size: 22px;
    color: #373737;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial;
}

.gallery-container {
    background: #fd926d;
}

.gallery-box {
    background: #fff;
    transition: transform 0.3s;
}

.adaptive-img {
    width: 100%;
}

.hot-info .add-to-cart {
    cursor: pointer;
    margin-bottom: 15px;
    width: 82.8625235405%;
}

.sale {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.sale-active {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.hot {
    display: none;
}

.hot-container-top {
    background: #f4845d;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 28px;
    font-family: Arial;
    padding: 33px 30px;
}

.hot-container-top img {
    width: auto;
    height: 10px;
    display: flex;
    align-self: center;
}

.hot-boxes {
    display: flex;
    justify-content: space-between;
    padding: 33px 30px 29px 30px;
    justify-content: center;
}

.hot-container-bottom {
    background: #fd926d;
    display: flex;
    flex-direction: column;
}

.hot-box:first-child {
    margin-right: 32px;
}

.hot-box {
    background: #f7f7f7;
}

.hot-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.hot-info .dress-name {
    font-size: 18px;
    font-family: Arial;
    text-align: center;
}

.hot-info .dress-price {
    font-size: 28px;
    font-family: Arial;
    font-weight: normal;
}

.load-more {
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    background: #000;
    height: 60px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 30px;
}

.load-more:hover {
    cursor: pointer;
    user-select: none;
}

.clearance {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 9.58333333333%;
    overflow: hidden;
}

.clearance img:nth-child(even) {
    margin: 25px 15px;
}

.clearance-gallery {
    padding: 0 9.58333333333%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
}

.clearance-box {
    background: #f7f7f7;
    transition: transform 0.3s;
}

.clearance-box:hover {
    transform: scale(1.1);
}

.clearance-640 {
    display: none;
}

.clearance-640 .hot-boxes {
    padding-top: 0px;
}

.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.brands-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-family: Arial;
    color: #414141;
    font-size: 15px;
    overflow: hidden;
    justify-content: center;
}

.brands-top p {
    margin: 0 20px;
    white-space: nowrap;
}

.brands-top img {
    height: 100%;
}

.brands-middle {
    width: 100%;
    padding: 10px 9.58333333333% 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-middle img:hover {
    cursor: pointer;
}

.brands-bottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.about {
    padding: 0 9.58333333333%;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #414141;
    font-family: Arial;
    font-weight: 400;
    user-select: none;
}

.about p {
    font-family: Arial;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0;
    background: #f7f7f7;
}

.cards p {
    font-family: Arial;
    color: #999999;
    font-size: 12px;
    margin-right: 15px;
}

.footer-menu {
    padding: 32px 9.58333333333%;
    background: #ededed;
    display: flex;
    justify-content: space-between;
}

.footer-menu-container {
    display: flex;
    flex-direction: row;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    margin-bottom: 19px;
    font-family: Arial;
    color: #544e4d;
    font-size: 16px;
    user-select: none;
}

.footer-box p {
    margin-bottom: 5px;
    font-family: Arial;
    color: #544e4d;
    font-size: 13px;
}

.footer-box p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-social-img {
    display: flex;
    flex-flow: row wrap;
    width: 127px;
}

.footer-social-img img {
    margin-left: 10px;
    margin-bottom: 9px;
    transition: transform 0.3s;
}

.footer-social-img img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.footer-social-img img:first-child {
    margin-left: 0px;
}

.footer-social-img img:nth-child(4) {
    margin-left: 0px;
}

.secured {
    display: flex;
    margin-left: 45px;
    padding-top: 15px;
    width: 107px;
}

.customer {
    margin-right: 33px;
}

.information {
    margin-right: 62px;
}

.campaigns {
    margin-right: 43px;
}

.stores {
    /* margin-left: 43px; */
}

.social {
    margin-left: 60px;
}

.wrap {
    flex-wrap: wrap;
}

footer {
    padding: 24px 9.58333333333%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8d8d8d;
    font-size: 11px;
}

.vertical-stick {
    margin: 0 9px;
}

.footer-container-left {
    display: flex;
}

.footer-container-right {
    text-align: right;
}

#burger-footer {
    display: none;
}

@media screen and (min-width: 1400px) {
    .shop-now {
        font-size: 25px;
    }

    .green {
        font-size: 12px;
    }

    .clearance-box,
    .gallery-box {
        width: calc(25% - 15px);
    }
}

@media screen and (max-width: 1196px) {
    .stores {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1128px) {
    .campaigns {
        margin-top: 30px;
    }

    .social {
        margin-left: 180px;
    }

    .information {
        margin-right: 0px;
    }

    .customer {
        margin-right: 25px;
    }
}

@media screen and (max-width: 1130px) {
    .gallery-box:last-child,
    .clearance-box:last-child {
        display: none;
        width: auto;
    }
}

@media screen and (max-width: 1020px) {
    .menu-container {
        width: 100%;
        justify-content: flex-end;
    }

    .menu-container ul {
        margin-right: 15px;
    }

    .menu-box {
        margin-left: 29px;
    }
}

@media screen and (max-width: 960px) {
    .social {
        margin-left: 0px;
    }
}

@media screen and (max-width: 878px) {
    header,
    .menu,
    .contacts-area,
    .collections,
    .gallery-menu,
    .clearance-gallery,
    .about {
        padding: 0 1.953125%;
    }

    .gallery-container {
        padding: 30px 1.953125%;
    }
    .brands-middle img:last-child {
        display: none;
    }
    .brands-middle {
        justify-content: space-around;
        padding: 10px 1.953125% 15px;
    }
}

@media screen and (max-width: 768px) {
    header,
    footer,
    .menu,
    .contacts-area,
    .collections,
    .gallery-menu,
    .about,
    .footer-menu {
        padding: 0px 1.953125%;
    }

    .collections {
        margin: 33px 0 35px;
    }

    .menu-container ul {
        display: none;
        margin: 0;
    }

    .menu-box:after {
        display: none;
    }

    #burger {
        display: flex;
        align-items: center;
        width: 100%;
        height: 48px;
        background: #fd926d;
        color: #fff;
        font-size: 30px;
        padding: 17px;
        box-sizing: border-box;
        margin: 21px 0 17px 0;
    }

    .shop-now,
    .green {
        font-size: 10px;
    }

    .slider-row {
        height: 55px;
    }

    .gallery-container {
        padding: 30px 1.953125%;
    }

    .gallery-box:last-child {
        display: none;
    }

    .brands-middle img:nth-last-child(-n + 2) {
        display: none;
    }

    .brands-middle {
        display: flex;
        justify-content: space-around;
        padding: 10px 0 15px;
    }

    .social {
        margin-left: 25px;
    }

    .footer-menu {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .menu-container {
        width: auto;
    }

    footer {
        padding: 24px;
    }
}

@media screen and (max-width: 640px) {
    .cart-1,
    .slider-row,
    .slider,
    .mail-info,
    .collections,
    .gallery,
    .clearance-gallery,
    .brands,
    .about,
    .cards,
    .footer-menu,
    .footer-container-left {
        display: none;
    }

    header {
        flex-flow: column nowrap;
        padding: 0;
        font-size: 30px;
    }

    .custom-care {
        min-height: 96px;
        color: #444444;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fafafa;
        width: 100%;
    }

    .header-container {
        min-height: 96px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .box {
        border: none;
        flex: 0 1 19.765625%;
    }

    .my-acc {
        border-left: #444444 2px solid;
        border-right: #444444 2px solid;
        flex: 0 1 60.46875%;
    }

    .menu {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 15px;
        margin: 0;
    }

    .logo {
        width: 358px;
        height: auto;
        margin: 58px 0 73px;
        max-width: 100%;
    }

    .menu-container {
        width: 100%;
    }

    .cart {
        width: 100%;
        flex-direction: row;
    }

    .cart-2 {
        height: 96px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        font-size: 30px;
    }

    #burger {
        height: 96px;
        max-width: 100%;
        margin: 23px 0 26px 0;
        display: flex;
    }

    .contacts-area {
        flex-direction: column;
        background: #ffffff;
        justify-content: center;
        padding: 0 15px;
        margin-bottom: 25px;
    }

    .mail-container,
    .mail-container form {
        width: 100%;
        height: 96px;
    }

    input[type="text"] {
        background: #ededed;
        width: 84.262295082%;
        height: 96px;
        font-size: 30px;
        color: #9f9f9f;
    }
    input[type="text"]:focus {
        font-size: 30px;
        font-style: normal;
        color: #000;
    }

    input[type="submit"] {
        width: 96px;
        height: 96px;
        background: url(img/submit-button-big.png) no-repeat;
    }

    .mail-container {
        margin-bottom: 25px;
    }

    .social-container {
        width: 100%;
        justify-content: center;
    }

    .social-img {
        height: 88px;
        width: auto;
    }

    .social-img a {
        width: 88px;
    }

    .social-info {
        color: #6c6c6c;
        font-size: 26px;
        margin-right: 35px;
    }

    .social-img a:nth-child(even) {
        background: #ededed;
    }

    .hot {
        display: flex;
        flex-direction: column;
    }

    .clearance-640 {
        display: flex;
        flex-direction: column;
    }

    footer {
        padding: 30px 30px;
    }

    .footer-container-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #burger-footer {
        color: #fff;
        display: block;
        font-size: 35px;
    }

    #burger-footer:hover {
        cursor: pointer;
        user-select: none;
        opacity: 0.6;
    }

    footer {
        padding: 24px;
    }
    footer p {
        font-size: 24px;
    }
}

@media screen and (max-width: 548px) {
    header {
        flex-flow: column wrap;
        padding: 0;
        font-size: 22px;
    }
}
